<!-- ====================
		///// Scripts below /////
		===================== -->

	<!-- Core JS -->
	<script src="/vendor/jquery/jquery.min.js"></script> <!-- jquery JS (https://jquery.com) -->

	<!-- Libs and Plugins JS -->
	<script src="/vendor/gsap/gsap.min.js"></script> <!-- GSAP JS (https://greensock.com/gsap/) -->
	<script src="/vendor/gsap/ScrollToPlugin.min.js"></script>
	<!-- GSAP ScrollToPlugin JS (https://greensock.com/scrolltoplugin/) -->
	<script src="/vendor/gsap/ScrollTrigger.min.js"></script>
	<!-- GSAP ScrollTrigger JS (https://greensock.com/scrolltrigger/) -->

	<script src="/vendor/smooth-scrollbar.js"></script>
	<!-- Smooth Scrollbar JS (https://github.com/idiotWu/smooth-scrollbar/) -->
	<script src="/vendor/swiper/js/swiper-bundle.min.js"></script> <!-- Swiper JS (https://swiperjs.com/) -->
	<script src="/vendor/isotope/imagesloaded.pkgd.min.js"></script>
	<!-- imagesloaded JS (more info: https://imagesloaded.desandro.com/) -->
	<script src="/vendor/isotope/isotope.pkgd.min.js"></script> <!-- Isotope JS (http://isotope.metafizzy.co) -->
	<script src="/vendor/isotope/packery-mode.pkgd.min.js"></script>
	<!-- Isotope Packery Mode JS (https://isotope.metafizzy.co/layout-modes/packery.html) -->
	<script src="/vendor/lightgallery/js/lightgallery-all.min.js"></script>
	<!-- lightGallery Plugins JS (http://sachinchoolur.github.io/lightGallery) -->
	<script src="/vendor/jquery.mousewheel.min.js"></script>
	<!-- A jQuery plugin that adds cross browser mouse wheel support (https://github.com/jquery/jquery-mousewheel) -->
	<script src="/javascripts/theme.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.20/summernote-bs5.min.js"
integrity="sha512-6F1RVfnxCprKJmfulcxxym1Dar5FsT/V2jiEUvABiaEiFWoQ8yHvqRM/Slf0qJKiwin6IDQucjXuolCfCKnaJQ=="
crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src='https://snipp.ru/cdn/jqueryui/1.12.1/jquery-ui.min.js'></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/additional-methods.min.js"></script>
<script src="/javascripts/forms/submitEnquiry.js"></script>
	<!-- Template master JS -->
	
	<script>
		var base_url="<%=baseLink %>";
	</script>


</body>

</html>