<!DOCTYPE html>

<html lang="en">

<head>

	<!-- Title -->
	<title>Orgullo | Creative Studio - orgullostudios.com</title>

	<!-- Meta -->
	<meta name="description" content="Orgullo, A advertising agency found by Thahseen Nasar who is a film producer and creative director for many well-known companies. In Orgullo we have generous portion of core crew" />
	<meta name="robots" content="max-image-preview:large" />
	<link rel="canonical" href="https://orgullostudios.com/" />
	<meta name="generator" content="All in One SEO (AIOSEO) 4.2.5.1 " />
	<meta property="og:locale" content="en_US" />
	<meta property="og:site_name" content="orgullostudios.com -" />
	<meta property="og:type" content="article" />
	<meta property="og:title" content="<%= title %>" />
	<meta property="og:description" content="Orgullo, A advertising agency found by Thahseen Nasar who is a film producer and creative director for many well-known companies. In Orgullo we have generous portion of core crew" />
	<meta property="og:url" content="https://orgullostudios.com/" />
	<meta property="article:published_time" content="2018-09-10T14:47:55+00:00" />
	<meta property="article:modified_time" content="2023-03-26T11:56:27+00:00" />
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:title" content="Creative Studio - orgullostudios.com" />

	<!-- Mobile Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Favicon (http://www.favicon-generator.org/) -->
	<link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
	<link rel="icon" href="/images/favicon.png" type="image/x-icon">

	<!-- Your Google Analytics code goes here -->

	<!-- Google fonts (https://www.google.com/fonts) -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
		rel="stylesheet"> <!-- Body font -->
	<link href="https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap" rel="stylesheet">
	<!-- Secondary/Alter font -->

	<!-- Libs and Plugins CSS -->
	<link rel="stylesheet" href="/vendor/normalize/normalize.min.css">
	<!-- Normalize CSS (https://necolas.github.io/normalize.css/) -->
	<link rel="stylesheet" href="/vendor/fontawesome/css/fontawesome-all.min.css">
	<!-- Font Icons CSS (https://fontawesome.com) Free version! -->
	<link rel="stylesheet" href="/vendor/swiper/css/swiper-bundle.min.css">
	<!-- Swiper CSS (https://swiperjs.com/) -->
	<link rel="stylesheet" href="/vendor/lightgallery/css/lightgallery.min.css">
	<!-- lightGallery CSS (http://sachinchoolur.github.io/lightGallery) -->

	<!-- Template master CSS -->
	<link rel="stylesheet" href="/stylesheets/helper.css">
	<link id="tt-themecss" rel="stylesheet" href="/stylesheets/theme.css">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.20/summernote-bs5.min.css"
	integrity="sha512-ngQ4IGzHQ3s/Hh8kMyG4FC74wzitukRMIcTOoKT3EyzFZCILOPF0twiXOQn75eDINUfKBYmzYn2AA8DkAk8veQ=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />

<link href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.2/min/dropzone.min.css" rel="stylesheet">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<style>

	label.error {
		color: #f85359;
		font-weight: 200;
		font-size: 14px;
	}
</style>

</head>

<body id="body" class="tt-transition tt-boxed tt-smooth-scroll tt-magic-cursor">

	<!-- *************************************
	*********** Begin body inner ************* 
	************************************** -->
	<main id="body-inner">


		<div id="page-transition">
			<div class="ptr-overlay"></div>
			<div class="ptr-preloader">
				<div class="ptr-prel-content">
					<h1 class="animation_loop">
						<span>
							<span></span>
							<span>"Brewing Ideas"</span>
							<span>"Framing Ideas"</span>
							<span>"Weaving stories"</span>
							<span>"Transforming Ideas</span>
						</span>
					</h1>
				</div> <!-- /.ptr-prel-content -->
			</div> <!-- /.ptr-preloader -->
		</div>

		<!-- Begin magic cursor 
			======================== -->
		<div id="magic-cursor">
			<div id="ball"></div>
		</div>
		<!-- End magic cursor -->


		<!-- *****************************************
			*********** Begin scroll container *********** 
			****************************************** -->
		<div id="scroll-container">

			<!-- ===================
				///// Begin header /////
				========================
				* Use class "tt-header-fixed" to set header to fixed position.
				-->

			<% if(!home) { %>
			<div class="header-logo">
				<div class="tt-logo">
					<a href="/">
						<img src="/images/logo.svg" class="tt-logo-light magnetic-item" alt="Logo">
					</a>
				</div>
			</div>

			<% } %>

			<header id="tt-header" class="tt-header-fixed">
    
				<div class="tt-header-inner"><div class="tt-header-col">

						<!-- Begin overlay menu toggle button -->
						<div id="tt-ol-menu-toggle-btn-wrap">
							<div class="tt-ol-menu-toggle-btn-holder">
								<a href="#" class="tt-ol-menu-toggle-btn  magnetic-item"><span></span></a>
							</div>
							<a href="/about" class="magnetic-item">
							<div class="tt-ol-menu-toggle-btn-holder">
								
									<i class="fa fa-info"></i>
								
							</div>
						</a>
						<a href="/works" class="magnetic-item">
							<div class="tt-ol-menu-toggle-btn-holder">
								
									<i class="fa fa-play"></i>
								
							</div>
						</a>
						<a href="/backstage" class="magnetic-item">
							<div class="tt-ol-menu-toggle-btn-holder">
								
									<i class="fa fa-backward"></i>
								
							</div>
						</a>
						<a href="https://www.linkedin.com/company/orgullo-mena/" target="_blank" class="magnetic-item">
							<div class="tt-ol-menu-toggle-btn-holder">
								
									<i class="fab fa-linkedin-in"></i>
								
							</div>
						</a>
						<a href="https://www.instagram.com/orgullostudios?igsh=cDVoeDZyMDZrbzJk&utm_source=qr" target="_blank" class="magnetic-item">
							<div class="tt-ol-menu-toggle-btn-holder">
								
									<i class="fab fa-instagram"></i>
								
							</div>
						</a>
						<a href="/contact" class="magnetic-item">
							<div class="tt-ol-menu-toggle-btn-holder">
								
									<i class="fa fa-headset"></i>
								
							</div>
						</a>
							
						</div>
						<!-- End overlay menu toggle button -->

						<!-- Begin overlay menu 
							======================== 
							* Use class "tt-ol-menu-count" to enable menu counter.
							-->
						<nav class="tt-overlay-menu tt-ol-menu-count">
							<!-- <div class="tt-ol-menu-ghost">Explore</div> -->
							<div class="tt-ol-menu-holder">
								<div class="tt-ol-menu-inner tt-wrap">
									<div class="tt-ol-menu-content">

										<!-- Begin menu list -->
										<ul class="tt-ol-menu-list">
											<li><a href="/">Home</a></li>
											<li><a href="/about">Discover Orgullo</a></li>
											<li><a href="/works">Works</a></li>
											<li><a href="/backstage">Backstage</a></li>
											<!-- <li><a href="/branding">Branding</a></li> -->
											<li><a href="/contact">Let’s speak</a></li>
										</ul>

									</div> <!-- /.tt-ol-menu-content -->
								</div> <!-- /.tt-ol-menu-inner -->
							</div> <!-- /.tt-ol-menu-holder -->
						</nav>
						<!-- End overlay menu -->

					</div> <!-- /.header-col -->
				</div> <!-- /.header-inner -->
			</header>
			<!-- End header -->