<%- include('./partials/header'); %>
<div id="page-transition">
	<div class="ptr-overlay"></div>
	<div class="ptr-preloader">
		<div class="ptr-prel-content">
			<h1>Brewing Ideas</h1>
		</div> <!-- /.ptr-prel-content -->
	</div> <!-- /.ptr-preloader -->
</div>

			<!-- *************************************
				*********** Begin content wrap *********** 
				************************************** -->
				<div id="content-wrap">
					<div id="page-header" class="ph-full ph-bg-image ph-image-cover-3 ph-content-parallax">
						<div class="page-header-inner tt-wrap">

							<!-- Begin page header image 
							============================= -->
							<div class="ph-image">
								<div class="ph-image-inner">
									<!-- <img src="assets/img/page-header/project-ph/project-ph-2.jpg" alt="Image"> -->

									<div class="ph-video-wrap">
										<video class="ph-video" loop muted autoplay preload="metadata" poster="/images/poster.JPG">
											<source src="/vids/banner.mp4" type="video/mp4">
											<source src="/vids/banner.webm" type="video/webm">
										</video>
									</div>
								</div>
							</div>
							<!-- End page header image -->

							

						</div> <!-- /.page-header-inner -->

						
					</div>
					<!-- End page header -->


					<!-- *************************************
					*********** Begin page content *********** 
					************************************** -->

					<!-- End page content -->




				</div>

		</div>
		<!-- End scroll container -->


	</main>
	<!-- End body inner -->

<%- include('./partials/footer'); %>