<!DOCTYPE html>

<html lang="en">

<head>

	<!-- Title -->
	<title>Orgullo | Creative Studio - orgullostudios.com</title>

	<!-- Meta -->
	<meta name="description" content="Orgullo, A advertising agency found by Thahseen Nasar who is a film producer and creative director for many well-known companies. In Orgullo we have generous portion of core crew" />
	<meta name="robots" content="max-image-preview:large" />
	<link rel="canonical" href="https://orgullostudios.com/" />
	<meta name="generator" content="All in One SEO (AIOSEO) 4.2.5.1 " />
	<meta property="og:locale" content="en_US" />
	<meta property="og:site_name" content="orgullostudios.com -" />
	<meta property="og:type" content="article" />
	<meta property="og:title" content="Creative Studio - orgullostudios.com" />
	<meta property="og:description" content="Orgullo, A advertising agency found by Thahseen Nasar who is a film producer and creative director for many well-known companies. In Orgullo we have generous portion of core crew" />
	<meta property="og:url" content="https://orgullostudios.com/" />
	<meta property="article:published_time" content="2018-09-10T14:47:55+00:00" />
	<meta property="article:modified_time" content="2023-03-26T11:56:27+00:00" />
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:title" content="Creative Studio - orgullostudios.com" />

	<!-- Mobile Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Favicon (http://www.favicon-generator.org/) -->
	<link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
	<link rel="icon" href="/images/favicon.png" type="image/x-icon">

	<!-- Your Google Analytics code goes here -->

	<!-- Google fonts (https://www.google.com/fonts) -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
		rel="stylesheet"> <!-- Body font -->
	<link href="https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap" rel="stylesheet">
	<!-- Secondary/Alter font -->

	<!-- Libs and Plugins CSS -->
	<link rel="stylesheet" href="/vendor/normalize/normalize.min.css">
	<!-- Normalize CSS (https://necolas.github.io/normalize.css/) -->
	<link rel="stylesheet" href="/vendor/fontawesome/css/fontawesome-all.min.css">
	<!-- Font Icons CSS (https://fontawesome.com) Free version! -->
	<link rel="stylesheet" href="/vendor/swiper/css/swiper-bundle.min.css">
	<!-- Swiper CSS (https://swiperjs.com/) -->
	<link rel="stylesheet" href="/vendor/lightgallery/css/lightgallery.min.css">
	<!-- lightGallery CSS (http://sachinchoolur.github.io/lightGallery) -->

	<!-- Template master CSS -->
	<link rel="stylesheet" href="/stylesheets/helper.css">
	<link id="tt-themecss" rel="stylesheet" href="/stylesheets/theme.css">

</head>

<body id="body" class="tt-transition tt-boxed tt-smooth-scroll tt-magic-cursor">


	<!-- *************************************
		*********** Begin body inner ************* 
		************************************** -->
	<main id="body-inner">


		<!-- Begin page transition (do not remove!!!) 
			=========================== -->
		<div id="page-transition">
			<div class="ptr-overlay"></div>
			<div class="ptr-preloader">
				<div class="ptr-prel-content">
					<!-- Hint: You may need to change the img height and opacity to match your logo type. You can do this from the "theme.css" file (find: ".ptr-prel-image"). -->
					<img src="/images/logo-light.png" class="ptr-prel-image tt-logo-light" alt="Logo">
				</div> <!-- /.ptr-prel-content -->
			</div> <!-- /.ptr-preloader -->
		</div>
		<!-- End page transition -->

		<!-- Begin magic cursor 
			======================== -->
		<div id="magic-cursor">
			<div id="ball"></div>
		</div>
		<!-- End magic cursor -->


		<!-- *****************************************
			*********** Begin scroll container *********** 
			****************************************** -->
		<div id="scroll-container">

			<!-- ===================
				///// Begin header /////
				========================
				* Use class "tt-header-fixed" to set header to fixed position.
				-->
			<div class="header-logo">
				<div class="tt-logo">
					<a href="/">
						<img src="/images/logo-light.png" class="tt-logo-light magnetic-item" alt="Logo">
					</a>
				</div>
			</div>
			<header id="tt-header" class="tt-header-fixed">
    
				<div class="tt-header-inner"><div class="tt-header-col">

						<!-- Begin overlay menu toggle button -->
						<div id="tt-ol-menu-toggle-btn-wrap">
							<div class="tt-ol-menu-toggle-btn-holder">
								<a href="#" class="tt-ol-menu-toggle-btn magnetic-item"><span></span></a>
							</div>
							<div class="tt-ol-menu-toggle-btn-holder">
								<a href="about.html" class="tt-ol-menu-toggle-btn magnetic-item">
									<i class="fa fa-info"></i>
								</a>
							</div>
							<div class="tt-ol-menu-toggle-btn-holder">
								<a href="media-showcase.html" class="tt-ol-menu-toggle-btn magnetic-item">
									<i class="fa fa-play"></i>
								</a>
							</div>
							<div class="tt-ol-menu-toggle-btn-holder">
								<a href="bts.html" class="tt-ol-menu-toggle-btn magnetic-item">
									<i class="fa fa-backward"></i>
								</a>
							</div>
							<div class="tt-ol-menu-toggle-btn-holder">
								<a href="#" class="tt-ol-menu-toggle-btn magnetic-item">
									<i class="fab fa-linkedin-in"></i>
								</a>
							</div>
							<div class="tt-ol-menu-toggle-btn-holder">
								<a href="#" class="tt-ol-menu-toggle-btn magnetic-item">
									<i class="fab fa-behance"></i>
								</a>
							</div>
							<div class="tt-ol-menu-toggle-btn-holder">
								<a href="contact.html" class="tt-ol-menu-toggle-btn magnetic-item">
									<i class="fa fa-headset"></i>
								</a>
							</div>
							
						</div>
						<!-- End overlay menu toggle button -->

						<!-- Begin overlay menu 
							======================== 
							* Use class "tt-ol-menu-count" to enable menu counter.
							-->
						<nav class="tt-overlay-menu tt-ol-menu-count">
							<!-- <div class="tt-ol-menu-ghost">Explore</div> -->
							<div class="tt-ol-menu-holder">
								<div class="tt-ol-menu-inner tt-wrap">
									<div class="tt-ol-menu-content">

										<!-- Begin menu list -->
										<ul class="tt-ol-menu-list">

											<li><a href="index.html">Home</a></li>
											<li><a href="about.html">Discover Orgullo</a></li>
											<li><a href="media-showcase.html">Media Showcase</a></li>
											<li><a href="backstage.html">Backstage</a></li>
											<li><a href="branding.html">Branding</a></li>
											<li><a href="services.html">What we offer</a></li>
											<li><a href="contact.html">Let’s speak</a></li>

										</ul>

									</div> <!-- /.tt-ol-menu-content -->
								</div> <!-- /.tt-ol-menu-inner -->
							</div> <!-- /.tt-ol-menu-holder -->
						</nav>
						<!-- End overlay menu -->

					</div> <!-- /.header-col -->
				</div> <!-- /.header-inner -->
			</header>
			<!-- End header -->


			<!-- *************************************
				*********** Begin content wrap *********** 
				************************************** -->
			<div id="content-wrap">
				<div id="page-content">
					<div class="tt-portfolio-slider cursor-drag-mouse-down" data-speed="1000" data-mousewheel="true"
						data-keyboard="true" data-simulate-touch="true" data-grab-cursor="true"
						data-pagination-type="progressbar">

						<!-- Begin swiper container -->
						<div class="swiper">
							<!-- Begin swiper wrapper (required) -->
							<div class="swiper-wrapper">
								<div class="swiper-slide" data-url="#" data-title="" data-category="">
									<!-- Use class "cover-opacity-*" to set an image overlay if needed. For example "cover-opacity-2". Note: It is individual and depends on the image you use. More info about helper classes in file "helper.css". -->
									<div class="tt-portfolio-slider-item cover-opacity-2" data-swiper-parallax="50%">
										<video class="tt-bg-video" loop muted preload="metadata"
											poster="./assets/img/poster.JPG">
											<source src="/images/banners/banner1.mov" type="video/mov">
											<source src="/images/banners/banner1.mov" type="video/webm">
										</video>
									</div> <!-- /.tt-portfolio-slider-item -->
								</div>

							</div>
							<!-- End swiper wrapper -->

						</div>

					</div>

				</div>
				<!-- End page content -->




			</div>
			<!-- End content wrap -->

		</div>
		<!-- End scroll container -->


	</main>
	<!-- End body inner -->





	<!-- ====================
		///// Scripts below /////
		===================== -->

	<!-- Core JS -->
	<script src="/vendor/jquery/jquery.min.js"></script> <!-- jquery JS (https://jquery.com) -->

	<!-- Libs and Plugins JS -->
	<script src="/vendor/gsap/gsap.min.js"></script> <!-- GSAP JS (https://greensock.com/gsap/) -->
	<script src="/vendor/gsap/ScrollToPlugin.min.js"></script>
	<!-- GSAP ScrollToPlugin JS (https://greensock.com/scrolltoplugin/) -->
	<script src="/vendor/gsap/ScrollTrigger.min.js"></script>
	<!-- GSAP ScrollTrigger JS (https://greensock.com/scrolltrigger/) -->

	<script src="/vendor/smooth-scrollbar.js"></script>
	<!-- Smooth Scrollbar JS (https://github.com/idiotWu/smooth-scrollbar/) -->
	<script src="/vendor/swiper/js/swiper-bundle.min.js"></script> <!-- Swiper JS (https://swiperjs.com/) -->
	<script src="/vendor/isotope/imagesloaded.pkgd.min.js"></script>
	<!-- imagesloaded JS (more info: https://imagesloaded.desandro.com/) -->
	<script src="/vendor/isotope/isotope.pkgd.min.js"></script> <!-- Isotope JS (http://isotope.metafizzy.co) -->
	<script src="/vendor/isotope/packery-mode.pkgd.min.js"></script>
	<!-- Isotope Packery Mode JS (https://isotope.metafizzy.co/layout-modes/packery.html) -->
	<script src="/vendor/lightgallery/js/lightgallery-all.min.js"></script>
	<!-- lightGallery Plugins JS (http://sachinchoolur.github.io/lightGallery) -->
	<script src="/vendor/jquery.mousewheel.min.js"></script>
	<!-- A jQuery plugin that adds cross browser mouse wheel support (https://github.com/jquery/jquery-mousewheel) -->

	<!-- Template master JS -->
	<script src="/javascripts/theme.js"></script>



</body>

</html>