<%- include('./partials/header'); %>
<div id="page-transition">
	<div class="ptr-overlay"></div>
	<div class="ptr-preloader">
		<div class="ptr-prel-content">
			<h1>Weaving Stories</h1>
		</div> <!-- /.ptr-prel-content -->
	</div> <!-- /.ptr-preloader -->
</div>
<!-- *************************************
				*********** Begin content wrap *********** 
				************************************** -->

				<div id="content-wrap">


					<!-- *************************************
					*********** Begin page content *********** 
					************************************** -->
					<div id="page-content">
						<div class="tt-portfolio-carousel pci-hover cursor-drag-mouse-down pc-scale-down" data-simulate-touch="true" data-mousewheel="true" data-keyboard="true" data-grab-cursor="true" data-pagination-type="progressbar">

							<!-- Begin swiper container -->
							<div class="swiper">

								<!-- Begin swiper wrapper (required) -->
								<div class="swiper-wrapper">

									<!-- Begin swiper slide 
									======================== -->
									<div class="swiper-slide">

										<!-- Begin portfolio carousel item 
										===================================
										* Use class "pci-image-is-light" if needed, it makes the caption visible better (useful if you use light image). No effect on smaller screens!
										-->
										<a href="/media-showcase" class="tt-portfolio-carousel-item" data-cursor="View<br>Project">
											<div class="tt-pci-inner">

												<!-- Use class "cover-opacity-*" to set an image overlay if needed. For example "cover-opacity-2". More info in the file "helper.css". -->
												<figure class="tt-pci-image-wrap cover-opacity-2">
													<img class="tt-pci-image swiper-lazy" src="/images/low-qlt-thumb.jpg" data-src="/images/portfolio/1200/portfolio-1.jpg" alt="Image">
												</figure> <!-- /.tt-pci-image-wrap -->

												<div class="tt-pci-caption-front">
													<div class="tt-pci-caption">
														<div class="tt-pci-caption-inner">
															<div class="tt-pci-categories">
																<div class="tt-pci-category">Works</div>
																<!-- <div class="tt-pci-category">Varia</div> -->
															</div> <!-- /.tt-pci-categories -->
															<h2 class="tt-pci-title">Visual</h2> <!-- You can use <br class="hide-from-sm"> to break a text line if needed -->
														</div> <!-- /.tt-pci-caption-inner -->
													</div> <!-- /.tt-pci-caption -->
												</div> <!-- /.tt-pci-caption-front -->

												<div class="tt-pci-caption tt-pci-caption-back">
													<div class="tt-pci-caption-inner">
														<div class="tt-pci-categories">
															<div class="tt-pci-category">Works</div>
															<!-- <div class="tt-pci-category">Varia</div> -->
														</div> <!-- /.tt-pci-categories -->
														<h2 class="tt-pci-title">Visual</h2> <!-- You can use <br class="hide-from-sm"> to break a text line if needed -->
													</div> <!-- /.tt-pci-caption-inner -->
												</div> <!-- /.tt-pci-caption -->

											</div> <!-- /.tt-pci-inner -->
										</a>
										<!-- End portfolio carousel item -->

									</div> 
									<!-- End swiper slide -->

									<!-- Begin swiper slide 
									======================== -->
									<div class="swiper-slide">

										<!-- Begin portfolio carousel item 
										===================================
										* Use class "pci-image-is-light" if needed, it makes the caption visible better (useful if you use light image). No effect on smaller screens!
										-->
										<a href="/branding" class="tt-portfolio-carousel-item" data-cursor="View<br>Project">
											<div class="tt-pci-inner">

												<!-- Use class "cover-opacity-*" to set an image overlay if needed. For example "cover-opacity-2". More info in the file "helper.css". -->
												<figure class="tt-pci-image-wrap cover-opacity-2">
													<img class="tt-pci-image swiper-lazy" src="/images/low-qlt-thumb.jpg" data-src="/images/portfolio/1200/portfolio-2.jpg" alt="Image">
												</figure> <!-- /.tt-pci-image-wrap -->

												<div class="tt-pci-caption-front">
													<div class="tt-pci-caption">
														<div class="tt-pci-caption-inner">	
															<div class="tt-pci-categories">
																<div class="tt-pci-category">Works</div>
																<!-- <div class="tt-pci-category">Varia</div> -->
															</div> <!-- /.tt-pci-categories -->
															<h2 class="tt-pci-title">Design</h2> <!-- You can use <br class="hide-from-sm"> to break a text line if needed -->
														</div> <!-- /.tt-pci-caption-inner -->
													</div> <!-- /.tt-pci-caption -->
												</div> <!-- /.tt-pci-caption-front -->

												<div class="tt-pci-caption tt-pci-caption-back">
													<div class="tt-pci-caption-inner">
														<div class="tt-pci-categories">
															<div class="tt-pci-category">Works</div>
															<!-- <div class="tt-pci-category">Varia</div> -->
														</div> <!-- /.tt-pci-categories -->
														<h2 class="tt-pci-title">Design</h2> <!-- You can use <br class="hide-from-sm"> to break a text line if needed -->
													</div> <!-- /.tt-pci-caption-inner -->
												</div> <!-- /.tt-pci-caption -->

											</div> <!-- /.tt-pci-inner -->
										</a>
										<!-- End portfolio carousel item -->

									</div>
								</div>
								<!-- End swiper wrapper -->

							</div>
							<!-- End swiper container -->

							<!-- Begin portfolio carousel navigation 
							========================================= -->
							<!-- <div class="tt-pc-navigation tt-swiper-nav">
								<div class="tt-pc-nav-prev">
									<div class="tt-pc-arrow tt-pc-arrow-prev magnetic-item"><i class="tt-arrow-left"></i></div>
								</div>
								<div class="tt-pc-nav-next">
									<div class="tt-pc-arrow tt-pc-arrow-next magnetic-item"><i class="tt-arrow-right"></i></div>
								</div>
								<div class="tt-pc-pagination"></div>
							</div> -->
							<!-- End portfolio carousel navigation -->

						</div>
						<!-- End portfolio carousel -->


					</div>


				</div>
				<!-- End content wrap -->

			</div>


		</main>
		<!-- End body inner -->
        <%- include('./partials/footer'); %>